body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: 
        radial-gradient(circle at center, rgba(139, 0, 0, 0.25) 0%, transparent 80%),
        linear-gradient(rgba(255, 0, 0, 0.2) 1.3px, transparent  1.3px),
        linear-gradient(90deg, rgba(255, 0, 0, 0.2) 1.3px, transparent 1.3px);
    background-size: 100% 100%, 57px 57px, 57px 57px;
    background-attachment: fixed;
}

.menu{
    background-color: rgba(17, 15, 15, 0.7);
    backdrop-filter: blur(6px);
}

.menu button{
    background-color:rgba(244, 0, 0, 0.4);
    color: white;
    font-family: inherit;
    border: gray solid 2px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.3s;
}

.menu button:hover{
    background-color: rgb(255, 0, 0);
    border: white solid 2px;
}